@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Chart";
}

<h1>Chart from XML</h1>
<p><img src="xmlChart.cshtml" alt="XML chart" /> </p>

<h1>Chart from DataBase</h1>
<p><img src="dbChart.cshtml" alt="Db chart" /> </p>

<h1>Chart from Cache</h1>
<p><img src="cachedChart.cshtml?key=myChartKey" alt="Cached chart" /> </p>