#elevator, #empty, #target{
	-fx-min-height: 28;
	-fx-max-height: 28;
	-fx-min-width: 150;
	-fx-max-width: 150;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

.grid {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-min-width: 200;
}

#info-text {
   	-fx-font-size: 14px;
   	-fx-font-family: "Arial Black";
   	-fx-fill: #818181;
   	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#empty{
	-fx-background-color: goldenrod;
}

#elevator{
	-fx-background-color: lightgrey;
}

#target{
	-fx-background-color: yellow;
}