@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
    <body>
        @RenderBody()
        <p>&copy; 2016 Mohammad Saiful Islam. All rights reserved.</p>
    </body>
</html>
